*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 200%;
    width: 100%;
    background-color: rgb(26, 25, 25);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.box1{
    height: 200px;
    width: 200px;
    background-color: red;
    
}

.box3{
    height: 200px;
    width: 200px;
    background-color: rgb(23, 208, 23);
}

.BOX2{
    height: 200px;
    width: 200px;
    background-color: rgb(55, 17, 193);
}

#main h1{
    display: inline-block;
    font-size: 200px;
    color: transparent;
    text-transform: capitalize;
    font-weight: 400px;
    background-image: url(https://i.pinimg.com/originals/6d/d5/42/6dd5429a12db23dd8cf5fe3d89382d58.gif);
    background-clip: text;
    -webkit-text-stroke: 2px blue;
}