*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    height: 100%;
    width: 100%;
}

@mixin bg-img(){
    height: 100%;
    flex-grow: 5;
    background-size: cover;
    background-position: center;
    color: rgb(92, 208, 29);
    border: 20px dotted black;
}



main{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(24, 150, 74), blue)
    display: flex;
    gap: 2px;
    overflow: hidden;
    

    section{ 
        height: 100%;
        flex-grow: 5;
        background: linear-gradient(rgb(21, 173, 10), blue)
        background-size: cover;
        border: 20px dotted red;
        transition: all ease 0.5s;
        
    }

    section:nth-child(1){
        background-image: url(https://i.pinimg.com/1200x/e8/19/b0/e819b0935d6ca7b14bcc3016e2464aa9.jpg);
        background-size: cover;
        background-position: center;
    }

    section:nth-child(2){
        background-image: url(https://i.pinimg.com/1200x/23/32/b5/2332b50a3e96be70b24812f74aedd541.jpg);
        background-size: cover;
        background-position: center;
    }

    section:nth-child(3){
        background-image: url(https://i.pinimg.com/1200x/f8/9c/4c/f89c4c7a929bae7dd1709665b78b7516.jpg);
        background-size: cover;
        background-position: center;
    }

    section:nth-child(4){
        background-image: url(https://i.pinimg.com/1200x/6e/88/13/6e881310b0f91ef0398c69dbbaf6af1f.jpg);
        background-size: cover;
        background-position: center;
    }

    section:nth-child(5){
        background-image: url(https://i.pinimg.com/736x/2e/e7/bd/2ee7bdbed2122f918a02f31063b21754.jpg);
        background-size: cover;
        background-position: center;
    }

    section:hover{
        flex-grow: 8;
        cursor: pointer;
        scale: 1.2
        
    }
}

