*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

main{
    height: 100%;
    width: 100%;
    background-color: red;
    display: grid;
    row-gap: 0;
    
    grid-template-rows: 10% 25% 65% 30% 60% 20% 80% 80% 50% 60% 40%;

    grid-template-areas:"header"
                        "about "
                        "figure1"
                        "growth"
                        "about2"
                        "explore"
                        "employes"
                        "milestone"
                        "author"
                        "contact"
                        "footer"
    ;

    header{
        grid-area: header;
        // height: 15%;
        // width: 100%;
        background-color: white;


        nav{
            height: 100%;
            width: 100%;
            background-color: white;
            display:flex;
            align-items: center;
            justify-content: space-between;


            #logo{
                height: 100%;
                width: 15%;
                display:flex;
                align-items: center;
                justify-content: center;
                    img{
                        height: 2.5vmax;
                        border-radius: .5vmax;
                        margin-right: .5vmax;;
                        
                    }

                    h1{
                        font-size: 2vmax;
                        font-weight: bold;
                        font-family: Arial, Helvetica, sans-serif;
                    }
            }

            #centre{
                height: 100%;
                width: 55%;
                padding-left: 11vmax;
                display:flex;
                align-items: center;
                justify-content: space-evenly;
                
                a{
        
                    text-decoration: none;
                    text-transform: capitalize;
                    text-align: center;
                    font-size: 1.2vmax;
                    color:black;
                }


            }

            #right-nav{
                height: 100%;
                width: 25%;
                margin-left: 2vmax;
                display:flex;
                align-items: center;
                justify-content: space-evenly;
                
                button{
                    background-color: rgb(55, 24, 255);
                    padding: 10px 20px;
                    border: 2px solid rgb(55, 24, 255);
                    border-radius: 30px;
                    font-size: 1.3vmax;
                    font-weight: 400;

                    
                }

                button:hover{
                    color: rgb(55, 24, 255);
                    background-color: transparent;
                    }
                    
                
            }
        }
    }

    #about{
        grid-area: about;
        // height: 30%;
        // width: 100%;
        background-color: blue;

        
    }

    #figure1{
        grid-area: figure1;
        // height: 55%;
        // width: 100%;
        background-color: purple;
    }

    
    

    #growth{
        grid-area: growth;
        // height: 30%;
        // width: 100%;
        background-color: blue;
    }

    #about2{
        grid-area: about2;
        // height: 90%;
        // width: 100%;
        background-color: rgb(40, 136, 171);
    }

    

    #explore{
        grid-area: explore;
        background-color: rgb(67, 3, 3);
    }

    #employes{
        grid-area: employes;
        background-color: #32cc10;
    }

    

    #milestone{
        grid-area: milestone;
        background-color: rgb(41, 9, 68);
    }

    #info{
            // grid-area: info;
        background-color: rgb(223, 17, 27);
    }


    #author{
        grid-area: author;
        background-color: rgb(1, 239, 1);
    }
    #contact{
        grid-area: contact;
        background-color: rgb(197, 14, 69);
    }


    footer{
        grid-area: footer;
        // height: 40%;
        // width: 100%;
        background-color: rgb(237, 174, 13);
    }
}