*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

main{
    height: 100%;
    width: 100%;
    background-color: red;
    display: grid;
    row-gap: 0;
    
    grid-template-rows: 10% 30% 80% 40% 85% 40% 100% 80% 50% 60% 40%;

    grid-template-areas:"header"
                        "about "
                        "figure1"
                        "growth"
                        "about2"
                        "explore"
                        "employes"
                        "milestone"
                        "author"
                        "contact"
                        "footer"
    ;

    header{
        grid-area: header;
        // height: 15%;
        // width: 100%;
        background-color: white;


        nav{
            height: 100%;
            width: 100%;
            background-color: white;
            display:flex;
            align-items: center;
            justify-content: space-between;


            #logo{
                height: 100%;
                width: 15%;
                display:flex;
                align-items: center;
                justify-content: center;
                    img{
                        height: 2.5vmax;
                        border-radius: .5vmax;
                        margin-right: 1vmax;;
                        
                    }

                    h1{
                        font-size: 2vmax;
                        font-weight: bold;
                        font-family: Arial, Helvetica, sans-serif;
                    }
            }

            #centre{
                height: 100%;
                width: 55%;
                padding-left: 11vmax;
                display:flex;
                align-items: center;
                justify-content: space-evenly;
                
                a{
        
                    text-decoration: none;
                    text-transform: capitalize;
                    text-align: center;
                    font-size: 1.4vmax;
                    font-weight: 405;
                    color:black;
                }


            }

            #right-nav{
                height: 100%;
                width: 25%;
                margin-left: 2vmax;
                display:flex;
                align-items: center;
                justify-content: space-evenly;
                
                button{
                    background-color: transparent;
                    color: rgb(55, 24, 255);
                    padding: 9px 20px;
                    border: 2px solid rgb(55, 24, 255);
                    border-radius: 30px;
                    font-size: 1.2vmax;
                    font-weight: 550;

                    
                }

                button:hover{
                    color: white;
                    background-color: rgb(55, 24, 255);
                    }
                    
                
            }
        }
    }

    #about{
        grid-area: about;
        // height: 30%;
        // width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: Arial, Helvetica, sans-serif;

        #about-us-title{
            height: 100%;
            width: 30%;
            text-align: center;
            font-size: 19px;
            padding: 60px 38px;   
        }

        #about-us-content{
            height: 100%;
            width: 70%;
            text-align: left;
            padding: 60px 40px;

            p{
                font-size: 18px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 300;
                word-spacing: 3px;
                
            }

            button{
                    background-color: transparent;
                    color: rgb(55, 24, 255);
                    padding: 9px 20px;
                    border: 2px solid rgb(55, 24, 255);
                    border-radius: 30px;
                    font-size: 1.2vmax;
                    font-weight: 550;
                    margin: 20px 10px;      
            }

            button:hover{
                color: white;
                background-color: rgb(55, 24, 255);
            }
            
        }
    }

    #figure1{
        grid-area: figure1;
        
        
        background-color: white;
        background-size: cover;
        padding: 5px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        img{
            height: 100%;
            width: 95%;
            border-radius: 25px;
            border: 0.1px solid rgb(164, 161, 161);
            

        }
    }

    
    

    #growth{
        grid-area: growth;
        // height: 30%;
        // width: 100%;
        background-color: white;
        padding: 100px 2px;

        #growth-heading{
            display: flex;
            align-items: center;
            justify-content: space-evenly;


            h1{
                
                font-size: 50px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: normal;
                font-weight: 450;
                
                text-align: center;
            }
        }

        #paragraph{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 1px 55px;
            color: rgb(157, 150, 150);

            p{
                
                font-size: 18px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: normal;
                text-align: center;
            }
        }
    }

    #about2{
        grid-area: about2;
        height: 100%;
        width: 95%;
        background-color: rgb(241, 239, 239);
        display: flex;
        margin: 1px 30px;
        border-radius: 20px;


        #about-us-info1{
            width: 50%;
            padding: 3px 30px;
            background-color: transparent;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            button{
                background-color: transparent;
                color: rgb(0, 0, 0);
                padding: 9px 20px;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 30px;
                font-size: 1.2vmax;
                font-weight: 550;
                margin: 20px 10px;      
            }

            #information{
                padding-top: 180px; 


                h1{
                    font-size: 50px;
                    font-weight: normal;
                    font-weight: 500;
                    margin-bottom: 30px;
                }

                p{
                    font-size: 25px;
                    font-weight: 480;
                    color: rgb(114, 102, 102);
                }

            }

        }

        #figure2{
            width: 50%;
            padding: 40px 40px;

            img{
                margin-left: 50px;
                height: 100%;
                width: 90%;
                object-fit: cover;
                border-radius: 20px;
            }
        }

        
    }

    

    #explore{
        grid-area: explore;
        background-color: white;
        padding: 20px 30px;

        button{
            background-color: transparent;
            color: rgb(0, 0, 0);
            padding: 9px 20px;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 30px;
            font-size: 1.2vmax;
            font-weight: 550;
            margin: 20px 10px;
        }

        #expertise1{
            height: 60%;
            width: 100%;
            padding: 1px 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            h1{
                width: 50%;
                font-size: 45px;
                font-weight: normal;
                font-weight: 495;
               
            }

            p{
                width: 50%;
                font-size: 19px;
                font-weight: 480;
                color: rgb(114, 102, 102);
            }
        }
        
        
    }

    #employes{
        grid-area: employes;
        background-color: white;
    }

    

    #milestone{
        grid-area: milestone;
        background-color: rgb(41, 9, 68);
    }

    #info{
            // grid-area: info;
        background-color: rgb(223, 17, 27);
    }


    #author{
        grid-area: author;
        background-color: rgb(1, 239, 1);
    }
    #contact{
        grid-area: contact;
        background-color: rgb(197, 14, 69);
    }


    footer{
        grid-area: footer;
        // height: 40%;
        // width: 100%;
        background-color: rgb(237, 174, 13);
    }
}