*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

main{
    height: 100%;
    width: 100%;
    background-color: red;
    display: grid;
    row-gap: 0;
    
    
    grid-template-rows: 10% 30% 80% 40% 85% 38% 115% 100% 50% 60% 40%;

    grid-template-areas:"header"
                        "about "
                        "figure1"
                        "growth"
                        "about2"
                        "explore"
                        "employes"
                        "milestone"
                        "author"
                        "contact"
                        "footer"
    ;

    header{
        grid-area: header;
        // height: 15%;
        // width: 100%;
        background-color: white;


        nav{
            height: 100%;
            width: 100%;
            background-color: white;
            display:flex;
            align-items: center;
            justify-content: space-between;


            #logo{
                height: 100%;
                width: 15%;
                display:flex;
                align-items: center;
                justify-content: center;
                    img{
                        height: 2.5vmax;
                        border-radius: .5vmax;
                        margin-right: 1vmax;;
                        
                    }

                    h1{
                        font-size: 2vmax;
                        font-weight: bold;
                        font-family: Arial, Helvetica, sans-serif;
                    }
            }

            #centre{
                height: 100%;
                width: 55%;
                padding-left: 11vmax;
                display:flex;
                align-items: center;
                justify-content: space-evenly;
                
                a{
        
                    text-decoration: none;
                    text-transform: capitalize;
                    text-align: center;
                    font-size: 1.4vmax;
                    font-weight: 405;
                    color:black;
                }


            }

            #right-nav{
                height: 100%;
                width: 25%;
                margin-left: 2vmax;
                display:flex;
                align-items: center;
                justify-content: space-evenly;
                
                button{
                    background-color: transparent;
                    color: rgb(55, 24, 255);
                    padding: 9px 20px;
                    border: 2px solid rgb(55, 24, 255);
                    border-radius: 30px;
                    font-size: 1.2vmax;
                    font-weight: 550;

                    
                }

                button:hover{
                    color: white;
                    background-color: rgb(55, 24, 255);
                    }
                    
                
            }
        }
    }

    #about{
        grid-area: about;
        // height: 30%;
        // width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: Arial, Helvetica, sans-serif;

        #about-us-title{
            height: 100%;
            width: 30%;
            text-align: center;
            font-size: 19px;
            padding: 60px 38px;   
        }

        #about-us-content{
            height: 100%;
            width: 70%;
            text-align: left;
            padding: 60px 40px;

            p{
                font-size: 18px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 300;
                word-spacing: 3px;
                
            }

            button{
                    background-color: transparent;
                    color: rgb(55, 24, 255);
                    padding: 9px 20px;
                    border: 2px solid rgb(55, 24, 255);
                    border-radius: 30px;
                    font-size: 1.2vmax;
                    font-weight: 550;
                    margin: 20px 10px;   
                    cursor: pointer;   
            }

            button:hover{
                color: white;
                background-color: rgb(55, 24, 255);
            }
            
        }
    }

    #figure1{
        grid-area: figure1;
        
        
        background-color: white;
        background-size: cover;
        padding: 5px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        img{
            height: 100%;
            width: 95%;
            border-radius: 25px;
            border: 0.1px solid rgb(164, 161, 161);
            

        }
    }

    
    

    #growth{
        grid-area: growth;
        // height: 30%;
        // width: 100%;
        background-color: white;
        padding: 100px 2px;

        #growth-heading{
            display: flex;
            align-items: center;
            justify-content: space-evenly;


            h1{
                
                font-size: 50px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: normal;
                font-weight: 450;
                
                text-align: center;
            }
        }

        #paragraph{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 1px 55px;
            color: rgb(157, 150, 150);

            p{
                
                font-size: 18px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: normal;
                text-align: center;
            }
        }
    }

    #about2{
        grid-area: about2;
        height: 100%;
        width: 95%;
        background-color: rgb(241, 239, 239);
        display: flex;
        margin: 1px 30px;
        border-radius: 20px;


        #about-us-info1{
            width: 50%;
            padding: 3px 30px;
            background-color: transparent;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            button{
                background-color: transparent;
                color: rgb(0, 0, 0);
                padding: 9px 20px;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 30px;
                font-size: 1.2vmax;
                font-weight: 550;
                margin: 20px 10px;    
                cursor: pointer;  
            }

            button:hover{
                background-color: black;
                color: rgb(241, 239, 239);
                border-color:  rgb(241, 239, 239);
            }    

            #information{
                padding-top: 180px; 


                h1{
                    font-size: 50px;
                    font-weight: normal;
                    font-weight: 500;
                    margin-bottom: 30px;
                }

                p{
                    font-size: 25px;
                    font-weight: 480;
                    color: rgb(114, 102, 102);
                }

            }

        }

        #figure2{
            width: 50%;
            padding: 40px 40px;

            img{
                margin-left: 50px;
                height: 100%;
                width: 90%;
                object-fit: cover;
                border-radius: 20px;
            }
        }

        
    }

    

    #explore{
        grid-area: explore;
        background-color: white;
        padding: 20px 30px;

        button{
            background-color: transparent;
            color: rgb(0, 0, 0);
            padding: 9px 20px;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 30px;
            font-size: 1.2vmax;
            font-weight: 550;
            margin: 20px 10px;
            cursor: pointer;
        }

        button:hover{
                background-color: black;
                color: rgb(241, 239, 239);
                border-color:  rgb(241, 239, 239);
        }

        #expertise1{
            height: 60%;
            width: 100%;
            padding: 1px 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            h1{
                width: 50%;
                font-size: 45px;
                font-weight: normal;
                font-weight: 495;
            }

            p{
                width: 50%;
                font-size: 19px;
                font-weight: 480;
                color: rgb(114, 102, 102);
            }
        }
        
        
    }

    #employes{
        height: 90%;
        width: 100%;
        grid-area : employes;
        height: 100%;
        width: 100%;
        background-color : rgb(249, 249, 249);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0px 70px;
        gap: 25px;
        


        .card{
            position: relative;
            height: 430px;
            height: 54vh;
            width: 300PX;
            width: 18vw;
            background-color: aquamarine;
            border-radius: 20px;
            overflow: hidden;
            transition: all ease 5s;
            // margin-left: 10px;
                

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }

            .up{
                height: 100%;
                width: 100%;
                position: absolute;
                bottom:  -100%;
                background-color:#0256e8 ;
                transition: all ease 0.5s;
                text-transform: capitalize;
                z-index: 1;
                padding-left: 30px;
                border-radius: 20px;

                h1{
                    text-transform: capitalize;
                    font-size: 25px;
                    color: white;
                    font-weight: 500;
                    // font-weight: ;
                    margin-top: 40px;
                }

                h3{
                    text-transform: capitalize;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 17px;
                    color: rgb(207, 186, 186);
                    font-weight: normal;
                    // font-weight: ;
                    margin-top: 11px;

                    
                }

                p{
                    text-transform: none;
                    font-size: 15px;
                    color: rgb(207, 186, 186);
                    font-weight: normal;
                    // font-weight: ;
                    margin-top: 40px;  
                }

                h2{
                    background-color: transparent;
                    display: inline-block;
                    font-style: normal;
                    font-weight: 100;
                    color: white;
                    border: 1px solid rgb(112, 110, 110);
                    border-radius: 50px;
                    padding: 5px 7px;
                    margin-top: 180px;
                    margin-right: 2px;

                    a{
                        text-decoration:none ;
                        color: rgb(255, 255, 255) ;
                    }
                }

            }

            .bottom {
    
                height: 32%;
                width: 100%;
                position: absolute;
                bottom: 0%;
                background: linear-gradient(transparent, black);
                transition: all ease 1s;
                text-align: center;
            
                
                padding: 20px 10PX;
                

                h3{
                    font-size: 18px;
                    padding: 2px 3px ;
                    color: rgb(182, 173, 173);
                    display: inline-block;
                    text-transform: capitalize;
                    
                }

                h2{
                    margin-top: 30px;
                    font-size: 24px;
                    text-transform: capitalize;
                    color: aliceblue;
                    margin-bottom: 10px;
                }
            }
        
        }
        .card:hover .bottom{
            bottom: 0%;
        }

        .card:hover .up{
            bottom: 0%;
        }
        



        


        
    }

    

    #milestone{
        
        height: 100%;
        width: 100%;
        grid-area: milestone;
        background-color: rgb(255, 255, 255);
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 10px;


        #info-total{
            height: 100%;
            width: 100%;
            border-radius: 20px;
            background-color:  rgb(224, 216, 216);
            display: flex;
            

            #info1{
                height: 100%;
                width: 50%;
                background-color: rgb(224, 216, 216);
                border-radius: 20px;
                padding: 20px 60px;

                button{
                    size: 10px;
                    background-color: transparent;
                    color: rgb(0, 0, 0);
                    padding: 9px 20px;
                    border: 2px solid rgb(0, 0, 0);
                    border-radius: 30px;
                    font-size: 1.2vmax;
                    font-weight: 550;
                    margin-top: 60px;
                    cursor: pointer;
                }

                button:hover{
                background-color: black;
                color: rgb(241, 239, 239);
                border-color:  rgb(241, 239, 239);
                }

                h1{
                    margin-top: 20px;
                    font-size: 35px;
                    text-transform: none;
                    font-weight: 500;
                    
                }

                img{
                    margin-top: 50px;
                    height: 24vmax;
                    width: 40vmax;
                    border-radius: 30px;
                    object-fit: cover;
                    object-position: top;
                    // display: flex;
                }
            }

            #info2{
                height: 100%;
                width: 50%;
                background-color: transparent;
                
            

                p{
                    margin-top: 150px;
                    font-size: 15px;
                    font-weight: 10;
                    color: rgb(78, 74, 74);
                }

                // #icon{
                //     height: 70%;
                //     width: 4%;
                //     margin-top: 100px;

                //     h2{
                //         font-size: 15px;
                //         text-align: center;
                //         margin-top: 50px;
                //         color: white;
                //         background-color: rgb(160, 150, 150);
                //         padding: 5px 7px;
                //         border-radius: 50%;
                //     }
                    

                //     h2:nth-child(2){
                        
                //         display: inline-block;
                //         transform: rotate(90deg);
                //     }

                //     h2:hover{
                //         background-color: #0256e8;
                //         border: 1px solid black;
                //     }

                // }

                #milestones-box{
                    width: 100%;
                    height: 70%;
                    .box{
                        display: flex;
                        border: 1px solid black;
                        width: 90%;
                        height: 23%;
                        margin: 10px;
                        .icon{
                            width: 10%;
                            h3{
                                width: 10%;
                                height: 5%;
                            }
                        }
                        div{
                            width: 80%;
                        }
                        
                    }
                }

                #icon-text{
                    height:70%;
                    width: 96%;
                    
                    
                    h2{
                        color: rgb(10, 102, 183);
                    }
                }
            }
        }
    }

    #info{
            // grid-area: info;
        background-color: rgb(223, 17, 27);
    }


    #author{
        grid-area: author;
        background-color: rgb(1, 239, 1);
    }
    #contact{
        grid-area: contact;
        background-color: rgb(197, 14, 69);
    }


    footer{
        grid-area: footer;
        // height: 40%;
        // width: 100%;
        background-color: rgb(237, 174, 13);
    }
}